

.Image{
    margin-top: -30px;
    img{
        width:  275px;
        height: 275px;
        cursor: pointer;
        margin-top: -8px;
    }

    
    .ButtonI{
    margin-top: 4px;
    border-radius: 2px;
    height: 33px;
    background-color: #00358e;
    color: #FFF;
    width: 275px;
}
}